:root {
  --background-color: #f3f3f3;
  --text-color: #444;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
}

/*-----------------HEADER-----------------*/

.header {
  height: 100vh;
  padding: 0 0.7rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__top {
  font-size: 1.1rem;
  padding: 0 0.5rem;

  height: 6rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header__top--active {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.logo {
  height: 2.5rem;
  width: auto;
  margin-right: 1rem;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 0.7rem;
  list-style: none;
}

.nav__link {
  font-size: 1.2rem;
  color: inherit;
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.nav__btn {
  font-size: 1.2rem;
  background-color: var(--color-primary);
  padding: 0.6rem 0.6rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.header__content {
  padding: 0 2rem; /*6rem 12rem*/
  flex: 1;
  max-width: 115rem;

  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-row-gap: 1rem;

  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.4;

  grid-column: 1;
  grid-row: 1;

  z-index: 1;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.header__img {
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 2 / span 4;
}

.header__content-text {
  font-size: 1.6rem;
  grid-column: 1;
  grid-row: 6;
}

.btn__scroll-to {
  background: none;
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;

  padding-bottom: 2px;

  border: 0;
  border-bottom: 1px solid currentColor;

  display: block;

  transition: all 0.3s;

  align-self: end;
  grid-column: 1;
  grid-row: 7;
}

/*-----------------SECTIONS-----------------*/

.section {
  padding: 5rem 1.5rem; /*10rem 2rem , 15rem 3rem*/
  border-top: 1px solid #ddd;
}

.section__title {
  max-width: 40rem;
  margin: 0 auto 3rem auto; /*6rem 8rem*/
}

.section__title--testimonials {
  margin-bottom: 2rem;
}

.section__description {
  font-size: 1.4rem; /*1.6rem 1.8rem*/
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 0.5rem; /*1rem ...*/
}

.section__header {
  font-size: 2rem; /*3rem 4rem*/
  font-weight: 500;
  line-height: 1.2;
}

/*------------------FEATURES------------------*/
.features {
  margin: 0 2rem; /*6rem 12rem*/
  display: grid;
  grid-template-columns: 1fr; /*1fr 1fr*/
  gap: 2rem; /*3rem 4rem*/
}

.features__img {
  width: 100%;
  height: auto;
}

.lazy-img {
  filter: blur(20px);
}

img {
  transition: filter 0.5s;
}

.features__feature {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 1rem; /*2rem 3rem*/

  align-self: center;
  justify-self: center;
  width: 80%;
}

.features__header {
  font-size: 1.6rem; /*1.8rem 2rem*/

  grid-column: 1;
  grid-row: 1;

  align-self: center;
  justify-self: center;
}

.features__icon {
  background-color: var(--color-primary-opacity);

  height: 3.5rem; /*4.5rem 5.5rem*/
  width: 3.5rem; /*4.5rem 5.5rem*/

  border-radius: 50%;

  grid-column: 2;
  align-self: center;
  justify-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.features__icon svg {
  fill: var(--color-primary);
  height: 2rem; /*2rem 2.5rem*/
  width: 2rem; /*2rem 2.5rem*/
}

.features__text {
  color: #666;
  font-size: 1.2rem; /*1.4rem 1.6rem*/
  grid-column: 1 / span 2;
}

/*-----------------OPERATIONS-----------------*/
.operations {
  background-color: #fff;
  max-width: 80rem; /*90rem 100rem*/
  margin: 6rem auto 0 auto; /*8rem 12rem*/
}

.operations__tab-container {
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  padding: 0.7rem 1.2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.operations__tab {
  transform: translateY(-50%);
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--2 {
  background-color: var(--color-primary);
}

.operations__tab--2:hover {
  background-color: var(--color-primary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-65%);
}

.operations__tab span {
  margin-right: 0.5rem;
  font-weight: 600;
  display: inline-block;
}

.operations__content {
  display: none;
  font-size: 1.2rem;
  padding: 1.5rem 2.5rem 4.5rem 3rem;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 3rem 1fr;
  column-gap: 1rem;
  row-gap: 0.2rem;
}

.operations__icon {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  justify-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2rem;
  width: 2rem;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
  fill: var(--color-secondary);
}

.operations__icon--2 {
  background-color: var(--color-primary-opacity);
  fill: var(--color-primary);
}

.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
  fill: var(--color-tertiary);
}

.operations__header {
  font-size: 1.4rem;
  font-weight: 500;
  align-self: center;
}

.operations__text {
  grid-column: 2;
  font-size: 1.2rem;
}

/*-------------------SLIDER--------------------*/
.slider {
  max-width: 80rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40rem; /*... 50rem*/
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -3rem;
  left: -4rem;
  line-height: 1;
  font-size: 10rem; /*16rem 22rem*/
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonials__header {
  font-size: 1.4rem; /*1.6rem 1.8rem*/
  font-weight: 500;
  margin-bottom: 1rem;
}
.testimonials__text {
  font-size: 1.2rem; /*1.4rem 1.6rem*/
  margin-bottom: 1.5rem;
  color: #666;
}

.testimonials__author {
  margin-left: 1.5rem; /*2rem 3rem*/
  font-style: normal;
  display: grid;
  grid-template-columns: 3.5rem 1fr; /*4.5rem 6.5rem*/
  column-gap: 2rem; /*... 2rem*/
}

.testimonials__photo {
  grid-row: 1 / span 2;
  width: 4.5rem; /*4.5rem 6.5rem*/
  border-radius: 50%;
}

.testimonials__name {
  grid-column: 2 / -1;
  font-size: 1.3rem; /*1.5rem 1.7rem*/
  font-weight: 500;
  align-self: end;
  margin: 0;
}
.testimonials__location {
  grid-column: 2 / -1;
  font-size: 1rem; /*1.2rem 1.4rem*/
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  height: 4rem;
  width: 4rem;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
}
.slider__btn--left {
  left: 8%;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  right: 8%;
  transform: translate(50%, -50%);
}
.dots {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0 1rem;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot--active {
  background-color: #888;
}

/*---------------SIGN UP SECTION----------------*/
.section--sign-up {
  background-color: #37383d;
  text-align: center;
  border-top: none;
  border-bottom: 1px solid #444;
  padding: 5rem 1.5rem;
}

.section--sign-up .section__title {
  margin-bottom: 3rem;
}

.section--sign-up .section__header {
  color: #fff;
}

.btn__open-account {
  padding: 1rem 3rem;
}

/*---------------FOOTER---------------*/
.footer {
  background-color: #37383d;
  text-align: center;
  padding: 5rem 1rem;
}

.footer__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__link {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

.footer__logo {
  display: block;
  margin: 1rem auto;
  height: 3rem;
}

.footer__copyright {
  font-size: 1.2rem;
  color: #aaa;
}

/* ----------------TABLET SCREEN----------------------*/
@media (min-width: 600px) {
  /*-----------------HEADER----------------------*/
  .header {
    padding: 0 2rem;
  }

  .header__top {
    font-size: 1.6rem;
    padding: 0 3rem;

    height: 7rem;
  }

  .logo {
    height: 4rem;
  }

  .nav__list {
    gap: 0 2rem;
  }

  .nav__link {
    font-size: 1.4rem;
  }

  .nav__btn,
  .btn__open-account {
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
  }

  .header__content {
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
  }

  .title {
    font-size: 4rem;
  }

  .header__img {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(-3rem);
  }

  .header__content-text {
    font-size: 1.8rem;
    grid-row: 2;
  }

  .btn__scroll-to {
    font-size: 1.6rem;
    grid-row: 3;
  }

  /*-----------------SECTIONS-----------------*/

  .section {
    padding: 10rem 2rem;
  }

  .section__title {
    max-width: 60rem;
    margin: 0 auto 6rem auto;
  }

  .section__title--testimonials {
    margin-bottom: 3rem;
  }

  .section__description {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .section__header {
    font-size: 3rem;
  }

  /*-----------------FEATURES----------------------*/

  .features {
    margin: 0 6rem;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .features__feature {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    width: 80%;
  }

  #features_img--2 {
    grid-row: 2;
    grid-column: 2;
  }

  #features_feature--2 {
    grid-row: 2;
    grid-column: 1;
  }

  .features__header {
    font-size: 1.8rem;
    grid-row: 2;
    justify-self: start;
  }

  .features__img {
    align-self: center;
  }

  .features__icon {
    height: 4.5rem;
    width: 4.5rem;
    grid-column: 1;
    justify-self: start;
  }

  .features__icon svg {
    height: 2.5rem;
    width: 2.5rem;
  }

  .features__text {
    font-size: 1.4rem;
  }

  /*-----------------OPERATIONS-----------------*/
  .operations {
    max-width: 90rem;
    margin: 8rem auto 0 auto;
  }

  .operations__tab-container {
    gap: 0 1.5rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }

  .operations__tab span {
    margin-right: 1rem;
  }

  .operations__content--active {
    grid-template-columns: 5rem 1fr;
    column-gap: 1rem;
    row-gap: 0.3rem;
  }

  .operations__content {
    padding: 2rem 3rem 5.5rem 4rem;
  }

  .operations__icon {
    height: 5rem;
    width: 5rem;
  }

  .operations__icon svg {
    height: 2.5rem;
    width: 2.5rem;
  }

  .operations__header {
    font-size: 1.8rem;
  }

  .operations__text {
    font-size: 1.4rem;
  }

  /*-----------------SLIDER-----------------*/
  .slider {
    max-width: 90rem;
    height: 40rem;
  }

  .slide {
    height: 40rem;
  }

  .slide--1 {
    transform: translateX(0%);
  }

  .slide--2 {
    transform: translateX(100%);
  }

  .slide--3 {
    transform: translateX(200%);
  }

  .testimonial::before {
    top: -5rem;
    left: -5.5rem;
    font-size: 15rem;
  }

  .testimonials__header {
    font-size: 1.6rem;
  }

  .testimonials__text {
    font-size: 1.4rem;
  }

  .testimonials__author {
    margin-left: 2rem;
    grid-template-columns: 4.5rem 1fr;
  }

  .testimonials__photo {
    width: 5.5rem;
  }

  .testimonials__name {
    font-size: 1.5rem;
  }

  .testimonials__location {
    font-size: 1.2rem;
  }

  .slider__btn {
    height: 5rem;
    width: 5rem;
    font-size: 2.5rem;
  }

  .dots {
    bottom: 5%;
  }

  /*---------------SIGN UP SECTION----------------*/
  .section--sign-up {
    padding: 7rem 2rem;
  }

  .section--sign-up .section__title {
    margin-bottom: 4rem;
  }

  .btn__open-account {
    font-size: 1.8rem;
    padding: 2rem 4rem;
    border-radius: 8rem;
  }

  /*-----------------FOOTER----------------------*/

  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .footer__link,
  .footer__copyright {
    font-size: 1.4rem;
  }

  .footer__logo {
    margin: 1.5rem auto;
    height: 4rem;
  }
}

/*-----------------DESKTOP SCREEN ----------------------*/

@media (min-width: 1024px) {
  /*-----------------HEADER----------------------*/
  .header {
    padding: 0 3rem;
  }

  .header__top {
    font-size: 1.8rem;
    padding: 0 6rem;
    height: 9rem;
  }

  .logo {
    height: 4.5rem;
  }

  .nav__list {
    gap: 0 4rem;
  }

  .nav__link,
  .nav__btn {
    font-size: 1.7rem;
  }

  .header__content {
    grid-template-columns: 3fr 2fr;
  }

  .title {
    font-size: 5.5rem;
  }

  .header__img {
    width: 100%;
    grid-column: 2 / span 2;
    grid-row: 1 / span 4;
    transform: translateY(-6rem);
  }

  .header__content-text {
    font-size: 2.4rem;
    grid-row: 2;
  }

  .btn__scroll-to {
    font-size: 1.8rem;
    grid-row: 3;
  }

  /*-----------------SECTIONS-----------------*/

  .section {
    padding: 15rem 3rem;
  }

  .section__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
  }

  .section__title--testimonials {
    margin-bottom: 4rem;
  }

  .section__description {
    font-size: 1.8rem; /*1.6rem 1.8rem*/
  }

  .section__header {
    font-size: 4rem; /*3rem 4rem*/
  }

  /*-----------------FEATURES----------------------*/

  .features {
    margin: 0 12rem;
    gap: 4rem;
  }

  .features__feature {
    row-gap: 2rem;
  }

  .features__header {
    font-size: 2rem;
  }

  .features__icon {
    height: 5.5rem;
    width: 5.5rem;
  }

  .features__text {
    font-size: 1.6rem;
  }

  /*-----------------OPERATIONS-----------------*/
  .operations {
    max-width: 100rem;
    margin: 12rem auto 0 auto;
  }

  .operations__tab-container {
    gap: 0 2rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 1.25rem 4.25rem;
  }

  .operations__content--active {
    grid-template-columns: 7rem 1fr;
    row-gap: 0.5rem;
  }

  .operations__content {
    padding: 2.5rem 7rem 6.5rem 7rem;
  }

  .operations__icon {
    height: 7rem;
    width: 7rem;
  }

  .operations__icon svg {
    height: 3rem;
    width: 3rem;
  }

  .operations__header {
    font-size: 2.2rem;
  }

  .operations__text {
    font-size: 1.6rem;
  }

  /*-----------------SLIDER-----------------*/
  .slider {
    max-width: 100rem;
    height: 50rem;
  }
  .slide {
    height: 50rem;
  }

  .testimonial::before {
    top: -7.3rem;
    left: -8rem;
    font-size: 22rem;
  }

  .testimonials__header {
    font-size: 2.2rem;
  }
  .testimonials__text {
    font-size: 1.6rem;
  }

  .testimonials__author {
    margin-left: 3rem;
    grid-template-columns: 6.5rem 1fr;
  }

  .testimonials__photo {
    width: 6.5rem;
  }

  .testimonials__name {
    font-size: 1.8rem;
  }

  .testimonials__location {
    font-size: 1.4rem;
  }

  .slider__btn {
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
  }

  /*---------------SIGN UP SECTION----------------*/
  .section--sign-up {
    padding: 10rem 3rem;
  }

  .section--sign-up .section__title {
    margin-bottom: 5rem;
  }

  .btn__open-account {
    font-size: 1.9rem;
    padding: 2rem 5rem;
  }

  /*-----------------FOOTER----------------------*/

  .footer__nav {
    gap: 4rem;
  }

  .footer__link,
  .footer__copyright {
    font-size: 1.6rem;
  }

  .footer__logo {
    margin: 2rem auto;
    height: 5rem;
  }
}
